<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form method="post">
    <input type="text" name="arn" value="arn:aws:s3:::examplebucket"/>
    <select name="type" id="type">
        <option value="read">Read</option>
        <option value="write">Write</option>
    </select>
    <input type="submit">
</form>

<p>Arn: {{ result.arn }}</p>
<p>Type: {{ result.type }}</p>
<p>Service: {{ result.service }}</p>
<p>Policy: {{ result.policy }}</p>



</body>
</html>
